[TELEGRAM]
API_ID = YOUR_API_ID_HERE
API_HASH = YOUR_API_HASH_HERE
PHONE_NUMBER = YOUR_PHONE_NUMBER_HERE

[GROUPS]
USER_ID_TO_FORWARD = USER_ID_TO_FORWARD_HERE
TARGET_GROUP_ID = TARGET_GROUP_ID_HERE
ORIGINAL_GROUP_ID = ORIGINAL_GROUP_ID_HERE
